*{
    box-sizing: border-box;
}
td,th{
    padding: 20px;
    text-align: center;
}
table{
    border-collapse: separate;
    table-layout: fixed;
    width: 50%;
}
thead > tr{
    background: linear-gradient(to right,
    rgb(228, 242, 219) 20%,
    rgb(189, 229, 183) 20%, rgb(189, 229, 183) 40%,
    rgb(168, 217, 148) 40%, rgb(168, 217, 148) 60%,
    rgb(73, 148, 52) 60%, rgb(73, 148, 52) 80%,
    rgb(47, 99, 35) 80%, rgb(47, 99, 35) 100%);
}

tbody > tr > th{
    background: linear-gradient(to right,
    rgb(106, 192, 77),
    rgb(106, 192, 77)
    );
}
tbody {
    background: repeating-linear-gradient(
            to bottom,
            rgb(196, 229, 183) 20%,
            rgb(196, 229, 183) 40%,
            rgb(69, 159, 17) 40%,
            rgb(69, 159, 17) 60%
    );
}