h1 {
    font-size: 40px;
    color : red;
}

h2 {
    font-style: italic;
}

.recipe-box {
    align-content: center;
    text-align: center;
}

.ingredient-name {
    font-size : 120%;
    font-weight: bold;
}

.underlined-text {
    text-decoration: underline;
}

.crossed-text {
    text-decoration: line-through;
}

.highlighted-text {
    background-color: yellow;
}

.encouraging-phrase-text {
    font-style: italic;
    font-family: monospace;
    font-size: 15px;
}

p {
    margin: 0;
}

hr {
    border-style: solid;
    background-color: green;
    color: green;
    width: 50%;
    height: 2px;
    margin: 1em auto;
    box-shadow: none;
}