html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
}
.head {
    padding: 0;
    display: inline-block;
    position: relative;
    align-items: center;
    border-radius: 0 0 30px 30px;
    width: 100%;
    margin: 0 auto;
}
.logo{
    margin: 10px;
    display: inline-block;
    padding: 15px;
    background-color: #ffab37;
    border-radius: 50%;
}
.logo > img {
    width: 60px;
}
.navigation {
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    user-select: none;
    list-style: none;
}
.navigation li {
    float: left;
    margin: 0 10px;
}
.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffab37;
    box-shadow: #ae6d14 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div {
    padding: 20px;
}

.column-wrapper {
    margin: 0 120px;
}
.row-wrapper {
    display: inline-block;
    width: inherit;
}
.content-block h3,
.content-block h4 {
    text-align: center;
}
.content-block p{
    text-align: justify;
}
.content-block {
    margin: 30px;
    padding: 20px 60px;
    background-color: #ffab37;
    border-radius: 5rem;
    text-align: center;
}
.inner-content-block{
    width: 350px;
    float: left;
    margin: auto;
    padding: 20px 60px;
    background-color: #ff9501;
    border-radius: 5rem;
}
.inner-content-block:last-child {
    margin-left: 95px
}

#first-content-block {
    background-color: #aa6305;
}

