html, body { margin: 0; padding: 0; height: 100%; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
}

.head {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 0 30px 30px;
}

.logo{
    margin: 10px;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 6px #ffab37;
}

.logo > img {
    width: 60px;
}

.navigation {
    user-select: none;
    margin-left: auto;
    list-style: none;
}

.navigation li {
    float: left;
    margin: 0 10px;
}

.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffab37;
    box-shadow: #ae6d14 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div {
    padding: 20px;
}

.main-content {
    text-align: center;
}