* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    word-spacing: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.colored-paragraph {
    color: red;
}

.white-space {
    white-space: nowrap;
}

#paragraph2 {
    font-style: italic;
    font-weight: bold;
}

.text-shadow {
    text-shadow: 5px -5px 3px rgba(105, 50, 168, 0.7);
}

.decoration-transform {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.text-interval {
    letter-spacing: 30px;
    word-spacing: 50px;
}